

    .about-section1 {
      text-align: center;
      margin-bottom: 80px;
      margin-top: 50px;
    }
    .about-section2 {
      text-align: center;
    }
    .two-column {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      
    }

    .row {
      text-align: center;
      width: 500px;
    }

    .color-text {
color: #FF7043;
    }
    .our-story {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .about-content {
      display: flex;
      justify-content: space-evenly;
    }
  .about-content img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }
  .images {
    background-color: #FF7043;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(163, 49, 49, 0.1);
  }
  #about-main {
    background-color: #fff8e1;
  }
  .subtitle{
    margin-bottom: 50px;
  }

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .about-section1 h1, .about-section2 h3 {
        font-size: 1.5rem;
    }
    

    .about-text p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .two-column {
        flex-direction: column; /* Stack columns vertically */
        align-items: center;
    }

    .row {
        width: 100%; /* Full width on mobile */
        margin-bottom: 20px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }
.about-content {
        /* flex-direction: column;
        align-items: center; */
        gap: 50px;
        margin-bottom: 50px;
      }
    .images {
        width: 50%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .about-section1 h1, .about-section2 h3 {
        font-size: 1.2rem;
    }

    .about-text p {
        font-size: 0.9rem;
        padding: 20px;
    }
    .about-content {
        /* flex-direction: column;
        align-items: center; */
        gap: 50px;
      }
    .images {
      width: 90%;
        padding: 5px;
    }
    .row p {
      padding: 20px;
    }
}